$honest-white-opaque: #eaf3f880;
$honest-blue: #6aacc6;
$honest-blue-hover: #6aacc6ad;
$honest-white: #ecf2f5;


.job-search-form {
  background-color: $honest-white;
  border-radius: 25px;
  button {
    background-color: $honest-blue;
    transition-duration: 0.4s;
    border: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    color: white;
    font-weight: bold;
  }

  .form-button {
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    button {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .col {
    padding-right: 0px;
  }
  
  @media (max-width:767px) {
    .col {
      flex-basis: unset;
      padding: 15px !important;
    }
  }
  
  @media (min-width: 768px) {
    .col {
      padding-left: 0;
    }
  
    .col:first-of-type {
      padding-left: 15px;
    }
  }


  .form-control {
    border: none;
    border-radius: 0;
  }

  button:hover, button:active, button:focus {
    background-color: $honest-blue-hover;
  }
}
