$honest-white: #ecf2f5;

.dropdown-menu {
  right: 0;
  left: auto;
}

nav {
  background-color: $honest-white;
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: black !important; 
}

.h-navlink {
  display: block;
  padding: .5rem 1rem;
  color: black;
}

.h-navlink:hover {
  opacity: 0.8;
  color: black;
  text-decoration: none;
}

.h-navbarbrand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.h-dropdownitem {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.h-dropdownitem:hover, .h-dropdownitem:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #e9ecef;
}