@font-face {
  font-family: roboSlab;
  src: url(fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

@font-face {
  font-family: lato;
  src: url(fonts/Lato/Lato-Regular.ttf);
}

.App {
  text-align: center;
}

.jumbotron {
  background-image: url("images/londoncity.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 0 !important;
}

h1, h2, h3, a {
  font-family: lato;
}

p, input {
  font-family: roboSlab;
}
